/* Color Theme Swatches in Hex */
/* goldenrod: #F2D377 */
/* yellow-orange: #F2AA52 */
/* nectar: #D97941 */
/* flame: #D95D30 */
/* burnt umber: #8C3926 */

/* Color Theme Swatches in RGBA */
/* goldenrod: rgba(242, 211, 119, 1) */
/* yellow-orange: rgba(242, 170, 82, 1) */
/* nectar: rgba(217, 121, 65, 1) */
/* flame: rgba(217, 93, 48, 1) */
/* burnt umber: rgba(140, 57, 38, 1) */

/* Color Theme Swatches in HSLA */
/* goldenrod: hsla(44, 82, 70, 1) */
/* yellow-orange: hsla(33, 86, 63, 1) */
/* nectar: hsla(22, 66, 55, 1) */
/* flame: hsla(15, 68, 51, 1) */
/* burnt umber: hsla(11, 57, 34, 1) */

body {
    font-family: Helvetica, sans-serif;
    background-color: #FAFAFA;
}

h2, h3, h4 {
    font-family: 'Bitter', serif;
    font-weight: 600;
    letter-spacing: 0.05em;
}

.intro {
    letter-spacing: 0.05em;
    line-height: 1.8em;
}

button a {
    text-decoration: none;

}

.btn-warning, .btn-warning a {
    background-color: #FAFAFA;
    outline: #D97941;
    color: #D95D30
}

.btn-warning:hover, .btn-warning a:hover {
    background-color: #FFFFFF;
    color: #da5323
}
