/* Color Theme Swatches in Hex */
/* goldenrod: #F2D377 */
/* yellow-orange: #F2AA52 */
/* nectar: #D97941 */
/* flame: #D95D30 */
/* burnt umber: #8C3926 */

/* Color Theme Swatches in RGBA */
/* goldenrod: rgba(242, 211, 119, 1) */
/* yellow-orange: rgba(242, 170, 82, 1) */
/* nectar: rgba(217, 121, 65, 1) */
/* flame: rgba(217, 93, 48, 1) */
/* burnt umber: rgba(140, 57, 38, 1) */

/* Color Theme Swatches in HSLA */
/* goldenrod: hsla(44, 82, 70, 1) */
/* yellow-orange: hsla(33, 86, 63, 1) */
/* nectar: hsla(22, 66, 55, 1) */
/* flame: hsla(15, 68, 51, 1) */
/* burnt umber: hsla(11, 57, 34, 1) */

body {
    font-family: Helvetica, sans-serif;
    background-color: #FAFAFA;
    color: black;
}

h2, h3, h4 {
    font-family: 'Bitter', serif;
    font-weight: 600;
    letter-spacing: 0.05em;
}

.intro {
    letter-spacing: 0.05em;
    line-height: 1.8em;
}

button a {
    text-decoration: none;

}

.btn-warning, .btn-warning a {
    background-color: #FEFEFE;
    outline: #D97941;
    color: #8C3926;
    font-family: 'Bitter', serif;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning a:hover, .btn-warning a:focus {
    background-color: #FFFFFF;
    color: #D95D30;
    box-shadow: none;
}

.btn-primary, .btn-primary a {
    background-color: #FEFEFE;
    color: #8C3926;
    border-color: #F2AA52;
    font-family: 'Bitter', serif;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary a:hover, .btn-primary a:focus, .btn-primary:active:focus {
    background-color: #FFFFFF;
    color: #D95D30;
    border-color: #F2AA52;
    box-shadow: none;
} 

.nav-item .nav-link {
    color: #8C3926;
}

button span {
    font-size: 1.5em;
}

.side-panel {
    border-left: 0.5px solid rgba(140, 57, 38, 0.3);
}

.card {
    box-shadow: 1px 1px 5px 2px rgba(224, 223, 223, 0.5)
}

.form-control:focus, .form-select:focus {
    box-shadow: 0px 0px 5px 2px rgba(224, 223, 223, 0.5);
    outline: none;
    border: none;
}

select, .form-select {
    overflow-y: auto;
    overflow-x: hidden;
}

.custom-collapse button {
    padding: 0px;
    text-align: start;
    text-decoration: none;
    color: #8C3926
    
}

.custom-collapse button:active, .custom-collapse button:focus, .custom-collapse button:hover {
    box-shadow: none;
    color: #D97941
}

.detailed-plan-card {
    border-radius: 5px;
    z-index: 10;
    border: 0.5px solid rgba(224, 223, 223, 0.8);
    box-shadow: 1px 1px 5px 2px rgba(224, 223, 223, 0.5)

}

.z-1 {
    z-index: 0;
}

.plan-day {
    width: 20%;
    border-right: 0.5px solid rgb(207, 206, 206)
}

.plan-holder {
    display: flex;
    justify-content: center;
}

.plan-day:last-child {
    border-right: none;
}


/* @media screen and (max-width: 476) {
    
} */

@media screen and (max-width: 767px) {
    .side-panel {
        border-left: none;
    }

    .plan-day {
        width: 100%;
        border-right: none;
    }
}


